## 0.0 Importações

In [1]:
import pandas as pd
import inflection

### 0.1 Carregamento da base

In [4]:
df_raw = pd.read_csv(r"..\Data\matriculasFinal-phase2.csv",sep=';', encoding='latin')

## 1.0 Descrição dos dados

In [6]:
df1 = df_raw.copy()
df1.head()

,Cod_Pessoa,cod_matricula,__Dt_Conclusao_Ensino_Medio,Matriz_Estrutura_Curso,ano_letivo_ini,Periodo_letivo_ini,Sit_Matricula,Ano_Let_Atual,Periodo_Let_Atual,Periodo_Atual,...,Desc_Turno_Ini,dt_matricula,DT_Rematricula,clPeriodo_Let_ini,Qtd_Periodos,Ultima_Aula_Presente,Ultimo_Periodo_Letivo_Presente,Situacao_Ultimo_Periodo_Letivo,DESC_SIT_MATRICULA_PERIODO,Ultimo_Evento_Matricula
0,414628,518696,1986.0,32,2023,2,2,2024,1,2,...,Integral,13/07/2023,13/07/2023,2023/2,10,30/09/2024,2024/1,Trancado,Trancado,Trancamento de Período: 04/03/2024
1,98957,97636,2008.0,32,2012,2,10,2016,2,7,...,Matutino,10/12/2012,10/12/2012,2012/2,11,20/03/2017,2016/2,Cancelou,Cancelou,Cancelamento Voluntário: 31/10/2016
2,98957,205828,2008.0,32,2016,2,18,2016,2,1,...,Matutino,31/10/2016,31/10/2016,2016/2,11,20/03/2017,2016/2,Aprovado,Aprovado,Concluiu: 06/04/2017
3,436461,519459,2022.0,32,2023,2,0,2024,2,10,...,Integral,20/07/2023,20/07/2023,2023/2,10,05/12/2024,2024/2,Matriculado,Matriculado,Renovou matrícula: 20/07/2023
4,108508,107372,NaN,32,2013,1,9,2017,2,6,...,Matutino,21/05/2013,21/05/2013,2013/1,11,19/07/2017,2017/1,Abandonou,Abandonou,Desistência (Evasão): 26/09/2017

### 1.1 Dimensão dos dados

In [7]:
print(f"Número de linhas: {df1.shape[0]}")
print(f"Número de colunas: {df1.shape[1]}")

Número de linhas: 1632
Número de colunas: 55

### 1.2 Renomeando as colunas

In [8]:
cols_old = df_raw.columns.to_list()

snakecase = lambda x: inflection.underscore( x )

cols_new =   map (snakecase, cols_old)

df1.columns = cols_new

In [9]:
df1.columns

Index(['cod_pessoa', 'cod_matricula', '__dt_conclusao_ensino_medio',
       'matriz_estrutura_curso', 'ano_letivo_ini', 'periodo_letivo_ini',
       'sit_matricula', 'ano_let_atual', 'periodo_let_atual', 'periodo_atual',
       'dt_nascimento', 'cod_aluno', 'tipo_escola_origem', 'sexo',
       'cod_cidade', 'texto_cidade', 'desc_forma_ingresso_matricula',
       'ano_conclusao_2_grau', 'cod_escola_2_grau', 'cod_grau_instrucao_mae',
       'pai_falecido', 'mae_falecida', 'tipo_escola_origem_1', 'desc_cor',
       'cod_pessoa_1', 'cod_grau_instrucao', 'cod_nacionalidade',
       'cod_estado_civil', 'cod_cidade_1', 'sexo_1', 'dt_nascimento_1',
       'cod_naturalidade', 'estado_titulo_ele', 'data_titulo_ele',
       'dt_cadastro', 'coeficiente_rendimento', 'desc_nacionalidade',
       'desc_escola_2_grau', 'desc_naturalidade', 'cod_turno', 'desc_turno',
       'desc_estado_civil', 'desc_tipo_escola_origem', 'desc_sit_matricula',
       'desc_cota', 'desc_turno_ini', 'dt_matricula', 'dt_rematricula',
       'cl_periodo_let_ini', 'qtd_periodos', 'ultima_aula_presente',
       'ultimo_periodo_letivo_presente', 'situacao_ultimo_periodo_letivo',
       'desc_sit_matricula_periodo', 'ultimo_evento_matricula'],
      dtype='object')

### 1.3 tipo dos dados

In [34]:
df1.dtypes

cod_pessoa                          int64
cod_matricula                       int64
__dt_conclusao_ensino_medio       float64
matriz_estrutura_curso              int64
ano_letivo_ini                      int64
periodo_letivo_ini                  int64
sit_matricula                       int64
ano_let_atual                       int64
periodo_let_atual                   int64
periodo_atual                       int64
dt_nascimento                      object
cod_aluno                           int64
tipo_escola_origem                 object
sexo                               object
cod_cidade                        float64
texto_cidade                       object
desc_forma_ingresso_matricula      object
ano_conclusao_2_grau              float64
cod_escola_2_grau                 float64
cod_grau_instrucao_mae             object
pai_falecido                      float64
mae_falecida                      float64
tipo_escola_origem_1               object
desc_cor                           object
cod_pessoa_1                        int64
cod_grau_instrucao                 object
cod_nacionalidade                  object
cod_estado_civil                   object
cod_cidade_1                      float64
sexo_1                             object
dt_nascimento_1                    object
cod_naturalidade                  float64
estado_titulo_ele                  object
data_titulo_ele                    object
dt_cadastro                        object
coeficiente_rendimento             object
desc_nacionalidade                 object
desc_escola_2_grau                 object
desc_naturalidade                  object
cod_turno                          object
desc_turno                         object
desc_estado_civil                  object
desc_tipo_escola_origem            object
desc_sit_matricula                 object
desc_cota                          object
desc_turno_ini                     object
dt_matricula                       object
dt_rematricula                     object
cl_periodo_let_ini                 object
qtd_periodos                        int64
ultima_aula_presente               object
ultimo_periodo_letivo_presente     object
situacao_ultimo_periodo_letivo     object
desc_sit_matricula_periodo         object
ultimo_evento_matricula            object
dtype: object

### 1.2 Checando dados nulos

In [35]:
df1.isna().sum()

cod_pessoa                          0
cod_matricula                       0
__dt_conclusao_ensino_medio       174
matriz_estrutura_curso              0
ano_letivo_ini                      0
periodo_letivo_ini                  0
sit_matricula                       0
ano_let_atual                       0
periodo_let_atual                   0
periodo_atual                       0
dt_nascimento                       0
cod_aluno                           0
tipo_escola_origem                173
sexo                                0
cod_cidade                         14
texto_cidade                       14
desc_forma_ingresso_matricula       0
ano_conclusao_2_grau              174
cod_escola_2_grau                 146
cod_grau_instrucao_mae            794
pai_falecido                       65
mae_falecida                       59
tipo_escola_origem_1              173
desc_cor                            0
cod_pessoa_1                        0
cod_grau_instrucao                597
cod_nacionalidade                   0
cod_estado_civil                  102
cod_cidade_1                       14
sexo_1                              0
dt_nascimento_1                     0
cod_naturalidade                    2
estado_titulo_ele                 265
data_titulo_ele                   281
dt_cadastro                         0
coeficiente_rendimento              0
desc_nacionalidade                  0
desc_escola_2_grau                146
desc_naturalidade                   2
cod_turno                           0
desc_turno                          0
desc_estado_civil                 102
desc_tipo_escola_origem           173
desc_sit_matricula                  0
desc_cota                         519
desc_turno_ini                      0
dt_matricula                        0
dt_rematricula                      0
cl_periodo_let_ini                  0
qtd_periodos                        0
ultima_aula_presente               19
ultimo_periodo_letivo_presente      0
situacao_ultimo_periodo_letivo      0
desc_sit_matricula_periodo          0
ultimo_evento_matricula             1
dtype: int64

## 2.0 Perguntas à serem respondidas:

### 2.1 Qual é a distribuição das situações de matrícula (ativo, trancado, jubilado, etc.)?

In [ ]:
df1.columns

Index(['cod_pessoa', 'cod_matricula', '__dt_conclusao_ensino_medio',
       'matriz_estrutura_curso', 'ano_letivo_ini', 'periodo_letivo_ini',
       'sit_matricula', 'ano_let_atual', 'periodo_let_atual', 'periodo_atual',
       'dt_nascimento', 'cod_aluno', 'tipo_escola_origem', 'sexo',
       'cod_cidade', 'texto_cidade', 'desc_forma_ingresso_matricula',
       'ano_conclusao_2_grau', 'cod_escola_2_grau', 'cod_grau_instrucao_mae',
       'pai_falecido', 'mae_falecida', 'tipo_escola_origem_1', 'desc_cor',
       'cod_pessoa_1', 'cod_grau_instrucao', 'cod_nacionalidade',
       'cod_estado_civil', 'cod_cidade_1', 'sexo_1', 'dt_nascimento_1',
       'cod_naturalidade', 'estado_titulo_ele', 'data_titulo_ele',
       'dt_cadastro', 'coeficiente_rendimento', 'desc_nacionalidade',
       'desc_escola_2_grau', 'desc_naturalidade', 'cod_turno', 'desc_turno',
       'desc_estado_civil', 'desc_tipo_escola_origem', 'desc_sit_matricula',
       'desc_cota', 'desc_turno_ini', 'dt_matricula', 'dt_rematricula',
       'cl_periodo_let_ini', 'qtd_periodos', 'ultima_aula_presente',
       'ultimo_periodo_letivo_presente', 'situacao_ultimo_periodo_letivo',
       'desc_sit_matricula_periodo', 'ultimo_evento_matricula'],
      dtype='object')

In [18]:
df1["desc_sit_matricula"].value_counts( normalize=True)*100

desc_sit_matricula
Abandono                      33.455882
Matriculado                   21.752451
Cancelado Voluntariamente     17.340686
Formado                       17.279412
Transferido Interno            3.370098
Cancelado Compulsoriamente     3.125000
Trancado                       2.267157
Transferido Externo            1.102941
Estagiario (Concludente)       0.183824
Concludente                    0.122549
Name: proportion, dtype: float64

### 2.2 Qual é a relação entre o tipo de escola de origem (pública ou privada) e a situação de matrícula?

In [20]:
df1["desc_tipo_escola_origem"].value_counts( normalize=True)*100

desc_tipo_escola_origem
Pública Estadual     44.002742
Privada              39.821796
Pública Federal      11.925977
Outros                2.261823
Pública Municipal     1.165182
Filantrópica          0.822481
Name: proportion, dtype: float64

### 2.3 Como a situação de matrículas dos alunos estão distribuídas em relação ao sexo?

### 2.4 Qual é o tempo médio para que um aluno mude de "ativo" para outra situação (como "trancado" ou "desistente")?

### 2.5 Existe uma correlação entre o coeficiente de rendimento e mudanças na situação de matrícula?